/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
.updownvotes {
  margin-top: 10px;
}
/* line 9, ../sass/screen.scss */
.updownvotes .votes-overview {
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}
/* line 15, ../sass/screen.scss */
.updownvotes .votes-overview .up-votes, .updownvotes .votes-overview .down-votes {
  height: 20px;
  float: left;
}
/* line 20, ../sass/screen.scss */
.updownvotes .votes-overview .up-votes {
  background-color: #457960;
  border: 1px solid #f0f2f3;
}
/* line 25, ../sass/screen.scss */
.updownvotes .votes-overview .down-votes {
  background-color: red;
  border: 1px solid #f0f2f3;
}
/* line 31, ../sass/screen.scss */
.updownvotes .vote-buttons {
  float: left;
}
/* line 34, ../sass/screen.scss */
.updownvotes .vote-buttons ul li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}
/* line 41, ../sass/screen.scss */
.updownvotes .vote-results {
  clear: both;
}
/* line 44, ../sass/screen.scss */
.updownvotes .vote-results .vote-count {
  font-weight: bold;
}
/* line 50, ../sass/screen.scss */
.updownvotes .vote-results .vote-bar.up {
  background-color: #457960;
  border: 1px solid #f0f2f3;
}
/* line 54, ../sass/screen.scss */
.updownvotes .vote-results .vote-bar.down {
  background-color: red;
  border: 1px solid #f0f2f3;
}

/* line 62, ../sass/screen.scss */
.rating-container .rating {
  float: left;
}
/* line 66, ../sass/screen.scss */
.rating-container .rating-title {
  margin-left: 100px;
}
